/*
-----------------------------------------------------------------------
  Footer CSS
-----------------------------------------------------------------------
*/

.footer-area {
  background-color: $theme-color3;
  padding: 0 15px 33px;
  position: relative;
  .shape-layer {
    bottom: 0;
    left: 48%;
    pointer-events: none;
    position: absolute;
    @include translate(-50%, 0px);
    img {
      max-width: none;
    }
  }
  .footer-main {
    background-color: $white-f7;
    margin: 0px auto -175px;
    max-width: 1555px;
    padding: 152px 0 80px;
    position: relative;
    z-index: 1;
    @include translate (0, -240px);
    @media #{$lg-device} {
      margin: 0px auto -70px;
      padding: 70px 0 25px;
      @include translate (0, -135px);
    }
    @media #{$sm-device} {
      padding: 70px 0 55px;
    }
    @media #{$xs-device} {
      padding: 55px 0 50px;
    }
    @media #{$xxs-device} {
      padding: 50px 0 40px;
    }
    .scroll-to-top {
      bottom: -32px;
      border-radius: 50%;
      cursor: pointer;
      height: 64px;
      left: calc(50% - 32px);
      line-height: 62px;
      position: absolute;
      text-align: center;
      width: 64px;
      @include gradient-bg();
      img {
        max-width: none;
        width: auto;
      }
    }
  }
  .widget-item {
    position: relative;
    z-index: 1;
    @media #{$sm-device} {
      margin-bottom: 40px;
    }
  }
  .widget-title {
    color: $theme-color3;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 54px;
    margin-top: 17px;
    @media #{$lg-device} {
      font-size: 24px;
    }
    @media #{$sm-device} {
      margin-bottom: 45px;
      margin-top: 0;
    }
    @media #{$xs-device} {
      margin-bottom: 30px;
    }
    &.line-style {
      padding-left: 75px;
      position: relative;
      @media #{$xs-device} {
        padding-left: 40px;
      }
      &:before {
        background-color: $theme-color;
        content: "";
        height: 4px;
        left: 0;
        position: absolute;
        top: 50%;
        width: 55px;
        @media #{$xs-device} {
          width: 25px;
        }
      }
    }
    &+ .line-shape {
      margin-bottom: 35px;
    }
  }
  .about-widget {
    padding-right: 70px;
    @media #{$lg-device} {
      padding-right: 12px;
    }
    .footer-logo {
      display: block;
      margin-bottom: 36px;
    }
    p {
      margin-bottom: 25px;
    }
  }
  .widget-total-raised {
    .raised-title {
      font-size: 25px;
      margin-bottom: 18px;
      @media #{$lg-device} {
        font-size: 18px;
        margin-bottom: 12px;
      }
    }
    .raised-amount {
      font-family: $font-current-theme2;
      font-size: 60px;
      line-height: 1;
      @include gradient-text();
      @media #{$lg-device} {
        font-size: 40px;
      }
    }
  }
  .widget-gallery {
    padding-left: 5px;
    padding-right: 45px;
    @media #{$lg-device} {
      padding-right: 22px;
    }
    @media #{$md-device} {
      padding-left: 0;
    }
    @media #{$sm-device} {
      padding-right: 0;
    }
    @media #{$xs-device} {
      max-width: 370px;
    }
    .gallery-item {
      margin-bottom: 10px;
      position: relative;
      img {
        @media #{$sm-device} {
          width: 100%;
        }
      }
      .icon {
        color: $white;
        height: 100%;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        @include gradient-bg();
        @include transition(.3s);
        i {
          font-size: 24px;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          @include transition(.3s);
        }
      }
      &:hover {
        .icon {
          opacity: 0.9;
        }
      }
    }
  }
  .widget-menu-wrap {
    .nav-menu {
      display: flex;
      flex-direction: column;
      li {
        margin-bottom: 8px;
        position: relative;
        a {
          color: $theme-color3;
          font-size: 17px;
          display: inline-block;
          position: relative;
          @media #{$lg-device} {
            font-size: 15px;
          }
          @media #{$sm-device} {
            font-size: 14px;
          }
          &:after {
            background-color: $theme-color;
            bottom: -2px;
            content: "";
            display: inline-block;
            height: 1px;
            overflow: hidden;
            position: absolute;
            right: 0;
            width: 0;
            @include transition(.5s);
          }
          &:hover {
            color: $theme-color;
            &:before {
              color: $theme-color;
            }
            &:after {
              left: 0;
              width: 100%;
            }
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .menu-wrap-column {
    padding-left: 21px;
    @media #{$xl-device} {
      padding-left: 0;
    }
  }
  .menu-wrap-two-column {
    padding-left: 37px;
    @media #{$lg-device} {
      padding-left: 0;
    }
    .widget-title {
      margin-bottom: 45px;
      @media #{$md-device} {
        margin-top: 0;
      }
      @media #{$sm-device} {
        margin-bottom: 36px;
      }
      @media #{$xs-device} {
        margin-bottom: 21px;
      }
    }
    .widget-menu-wrap {
      .nav-menu {
        &.align-right {
          @media #{$xxl-device} {
            padding-left: 12px;
          }
        }
      }
    }
  }
  .widget-contact-info {
    padding-top: 3px;
    li {
      font-size: 16px;
      margin-bottom: 8px;
      &.info-mail {
        display: inline-block;
        position: relative;
        &:after {
          background-color: $body-color;
          bottom: 4px;
          content: "";
          height: 1px;
          left: 0;
          position: absolute;
          width: 100%;
          @include transition(.3s);
        }
        &:hover {
          &:after {
            background-color: $theme-color;
          }
        }
      }
      a {
        color: $body-color;
        &:hover {
          color: $theme-color;
        }
      }
    }
  }
  .widget-social-icons {
    margin-bottom: 0;
    a {
      color: #aba5a5;
      font-size: 16px;
      margin-right: 18px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: $theme-color;
      }
    }
  }
  .widget-newsletter {
    form {
      .form-control {
        background-color: transparent;
        border: 1px solid #e8e8e8;
        border-radius: 27.5px;
        box-shadow: none;
        color: $white;
        font-size: 15px;
        height: 55px;
        margin-bottom: 20px;
        padding: 10px 30px;
        @include placeholder {
          color: $white;
          font-size: 15px;
        }
      }
      .btn {
        &.btn-theme {
          border-radius: 27.5px;
          font-size: 15px;
          font-weight: $font-weight-medium;
          padding: 16.5px 58.891px 16.5px 38px;
          .icon {
            font-size: 20px;
            right: 33px;
          }
          &:hover {
            .icon {
              right: 31px;
            }
          }
        }
      }
    }
  }
  .footer-bottom {
    .widget-copyright {
      p {
        color: $black-999;
        @media #{$xxs-device} {
          font-size: 14px;
        }
        @media #{$xss-device} {
          font-size: 12px;
        }
        span {
          color: $theme-color;
        }
        a {
          color: $theme-color;
        }
        i {
          color: #f53400;
          padding: 0 5px;
        }
      }
    }
    .widget-social-icons {
      text-align: center;
      a {
        background-color: rgba($white, .3);
        border-radius: 22.5px;
        color: $white;
        display: inline-block;
        font-size: 15px;
        height: 45px;
        line-height: 46px;
        margin-right: 10px;
        text-align: center;
        width: 45px;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          background-color: $white;
          color: $theme-color;
        }
      }
    }
  }
}

.reveal-footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  @media #{$md-device} {
    position: relative;
  }
}

.site-wrapper-reveal {
  position: relative;
  @media #{$md-device} {
    margin-bottom: 0 !important;
  }
}